<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tutor profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"><!--To ensure proper rendering and touch zooming meta is added in head,
  The width=device-width part sets the width of the page to follow the screen-width of the device (which will vary depending on the device).
  The initial-scale=1 part sets the initial zoom level when the page is first loaded by the browser.-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><!-- Latest compiled and minified CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><!-- jQuery library -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script><!-- Latest compiled JavaScript -->
</head>
<body>

<div class="container"><!--provides a responsive fixed width container; containers are containing element to wrap site contents-->
   <h2><p class="text-center">3.Work Info</p></h2> 
  <form class="form-horizontal" action="" method="get" onsubmit="return validate2()"><!--creating form-->
  
  <div class="form-group required"> 
      <label class="control-label col-sm-2" for="wk" >Work Experience:</label><!--field of experience-->
      <div class="col-sm-6">
        <input type="text" class="form-control" id="exp" placeholder="Field of work" name="exp">
		<span id="workexp" class="text-danger font-weight-bold"> </span>
      </div>
	  </div>
	   <div class="form-group required"> 
      <label class="control-label col-sm-2" for="edu">Company name:</label><!--enter your companyname-->
      <div class="col-sm-6">
        <input type="text" class="form-control" id="comp" placeholder="Name of your company" name="comp">
		<span id="company" class="text-danger font-weight-bold"> </span>
      </div>
	  </div>
	  <div class="form-group">
   <label class="control-label col-sm-2" for="yr" >Experience:</label>
 <span id="yrs" class="text-danger font-weight-bold"> </span>
 <div class="button-bar title">
			<select class="button-subscribe" name="years" id="" ng-model="filter.months">
				<option value="" >years</option>
				<option value="1" >1</option>
				<option value="2" >2</option>
				<option value="3" >3</option>
				<option value="4" >4</option>
				<option value="5" >5</option>
				<option value="6" >6</option>
				<option value="7" >7</option>
				<option value="8" >8</option>
				<option value="9" >9</option>
				<option value="10" >10</option>
			</select>
			<select class="button-subscribe" name="months" id="" ng-model="filter.specialty">
				<option value="" >months</option>
				<option value="1" >1</option>
				<option value="2" >2</option>
				<option value="3" >3</option>
				<option value="4" >4</option>
				<option value="5" >5</option>
				<option value="6" >6</option>
				<option value="7" >7</option>
				<option value="8" >8</option>
				<option value="9" >9</option>
				<option value="10" >10</option>
				<option value="10" >11</option>
				
				
			</select>
		</div>
</div>
	  	<div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10 ">
        <button type="Save&Continue" class="btn btn-default" >Save&Continue</button>
      </div>
    </div>
	
</form>

</script>

</body>
</html>